<h1> Items </h1>

<form method="post" action="/new">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  <label for="color">Color</label>
  <input type="text" id="color" name="color">
  <input type="submit">
</form>

<ul>
  <% if @items %>
    <% @items.each do |item| %>
      <li><%= item.name %> - <%= item.color %>
    <% end %>
  <% end %>
</ul>
